.col-xs-7 {
    float: left;
    position: relative;
    min-height: 1px;
}
.breadcrumb-main {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f1f1f1;
}
/*.breadcrumb-main:before {*/
/*    content: "";*/
/*    width: calc(100% - 100px);*/
/*    height: 0px;*/
/*    border-bottom: 1px solid #333;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 50px;*/
/*}*/
.breadcrumb-main .breadcrumb {
    border-bottom: solid #E8E6E6 2px;
    padding: 20px 0;
    font-size: 12px;
    margin-bottom: 0;
    border-radius: 0;
}

.breadcrumb-main .breadcrumb a {
    color: #000;
    text-decoration: none;
}
.breadcrumb {
    list-style: none;
    margin-top: 0;
}
    .breadcrumb>li {
        display: inline-block;

    }
    .breadcrumb>li+li:before {
        content: ">";
        padding:0 5px;
    }
    .breadcrumb>.active {
        color: #666;
    }
.product-detail-content {
    padding-top: 50px;
    color: #000;
    background-color: #f1f1f1;
}
.notice-wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f1f1f1;
}
.row>div {
    padding-left: 10px;
    padding-top: 10px;
}
.product-detail-content .brand {
    color: #666;
    font-weight: 400;
    font-size: 12px;
}
.product-detail-content .tt-2 {
    font-size: 36px;
    font-weight: 500;
    padding-top:15px;
    padding-bottom: 20px;
    line-height: 1.2em;
}
.product-detail-content .pro-price-detail {
    font-size: 24px;
    font-weight: 200;
}

.product-detail-content .dsc-detail {
    font-size: 14px;
}
.product-detail-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.pro-detail-line {
    width: 100%;
    height: 1px;
    background-color: #D8D8D8;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sl-amount #qty-decr, .sl-amount #qty-incr {
    width: 20px;
    font-size: 20px;
}
.box-sl {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    padding: 2px;
    border: 1px solid #D8D8D8;
    color: #000;
    font-weight: 500;
}
.addBtn {
    background-color: #000;
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 600;
    padding: 18px 30px;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    text-align: center;

}
.checkoutNowBtn {
    background-color: #A70F17;
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 600;
    padding: 18px 30px;
    color: #fff;
    border: 1px solid #A70F17;
    width: 100%;
    text-align: center;
}
a.addBtn:hover {
    color: #fff;
    text-decoration: underline;
}
a.checkoutNowBtn:hover {
    color: #fff;
    cursor: pointer;
}
    .addBtn .ic-store {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
    }
    .addBtn .ic-store img {
        vertical-align: top;
    }

.product-detail-content .addBtn {
    padding-top: 15px;
    padding-bottom: 15px;
}
/*media */
@media (max-width: 768px) {
    .breadcrumb {
        display: none;
    }
    .product-detail-content .wrap-main>.row>div{
        width: 100%;
    }
}

